.team {
  @extend %list;

  @include respond-above($tablet) {
    @include grid();
  }
}

.team__item {
  @include respond-below($tablet) {
    &:not(:last-child) {
      margin-bottom: $grid-item-gap;
    }
  }

  @include respond-above($tablet) {
    @include grid-item(2);
  }

  @include respond-above($desktop) {
    @include grid-item(4);
  }
}

.employee {
  background-color: $primary-bg-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $shadow;
}

.employee__info {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;

  @include respond-above($desktop) {
    padding-bottom: 30px;
  }
}

.employee__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $title-text-color;
}

.employee__pos {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
}
