.portfolio {
  @extend %list;

  @include respond-above($tablet) {
    @include grid();
  }
}

.portfolio__item {
  @include respond-below($tablet) {
    &:not(:last-child) {
      margin-bottom: $grid-item-gap;
    }
  }

  @include respond-above($tablet) {
    @include grid-item(2);
  }

  @include respond-above($desktop) {
    @include grid-item(3);
  }
}

// Project Cards
.project {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: $primary-bg-color;
  outline: none;
  transition: box-shadow $animation;

  &:hover,
  &:focus {
    box-shadow: $project-card-shadow;
  }
}

.project__img {
  position: relative;
  background-color: $project-border-color;
  overflow: hidden;
}

.project__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 10px;

  border-right: 1px solid $project-border-color;
  border-bottom: 1px solid $project-border-color;
  border-left: 1px solid $project-border-color;
}

.project__name {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.project__type {
  font-size: 16px;
  line-height: 1.87;
}

// Project Overlay
.project__overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background-color: $project-overlay;
  transform: translateY(100%);
  transition: transform $animation;

  @include respond-between(330px, $mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include respond-above($mobile) {
    padding-top: 77px;
    padding-bottom: 77px;
  }

  @include respond-above($tablet) {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  @include respond-above($desktop) {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}

.project__descr {
  font-size: 18px;
  line-height: 1.56;
  color: $white-text-color;
}
