.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--team {
    background-color: $accent-bg-color;
  }

  &--service {
    padding-top: 0;

    @media screen and (max-width: $desktop - 1px) {
      display: none;
    }
  }
}
