.team {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -$grid-item-gap / 2;
  }
}

.team__item {
  @media screen and (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: $grid-item-gap;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * #{$grid-item-gap}) / 2);
    margin: $grid-item-gap / 2;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * #{$grid-item-gap}) / 4);
  }
}

.employee {
  background-color: $primary-bg-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $shadow;
}

.employee__info {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.employee__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $title-text-color;
}

.employee__pos {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
}
