.service {
  @extend %list;
  @include grid();
}

.service__item {
  position: relative;
  @include grid-item(3);
}

.service__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 70px;
  @extend %flexCenter;
  background-color: $service-overlay;
}

.service__title {
  @extend %title;
  margin-bottom: 0;
  color: $white-text-color;
}
