.btn-main {
  @extend %btn;
  padding: 10px 22px;
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-text-color;
  background-color: $accent-color;
  box-shadow: $main-btn-shadow;
  transform: scale(1);

  &:hover,
  &:focus {
    background-color: $accent-btn-color;
    transform: scale(1.04);
  }
}
