// Filter Buttons
.filter {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 15px;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 35px;
  }
}

.filter__item {
  padding-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__btn {
  @extend %btn;
  padding: 6px 22px;
  min-width: 72px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $accent-bg-color;
  outline: none;

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $accent-color;
    box-shadow: $filter-btn-shadow;
  }
}
