.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: $backdrop-color;
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  transition: visibility $modal-animation, opacity $modal-animation;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-height: 610px;
  padding: 40px;

  background-color: $primary-bg-color;
  box-shadow: $shadow;
  border-radius: 4px;
  transform: translate(0, 0) scaleX(1);
  transition: transform $modal-animation;

  @include respond-below($mobile) {
    margin: 0 auto;
  }

  @include respond-above($mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
  }

  @include respond-above($desktop) {
    max-width: 528px;
    min-height: 580px;
  }

  .backdrop--is-hidden & {
    transform: translate(0, 50%) scaleX(0);

    @include respond-above($mobile) {
      transform: translate(-50%, 0) scaleX(0);
    }
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  @extend %flexCenter;

  fill: $black-logo-color;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: fill $animation, transform $animation;

  &:hover,
  &:focus {
    fill: $accent-color;
    transform: scale(1.1);
  }
}
